.about {
  @include background;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;

  &__img {
    max-width: 10rem;
    border-radius: 15px;
    margin-bottom: 2rem;
  }

  &__link {
    color: $secondary-color;
    font-weight: 600;

    &:hover {
      color: $accent-color;
      text-decoration: underline;
    }
  }

  &__text {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__btn {
    @extend .button;

    &-link {
      text-align: center;
    }
  }
}

@media screen and (min-width: $md-breakpoint) {
  .about {
    &__img {
      max-width: 12rem;
    }
  }
}

@media screen and (min-width: $lg-breakpoint) {
  .about {
    &__img {
      max-width: 15rem;
      margin-bottom: 0;
    }

    &__container {
      display: flex;
      margin-bottom: 2rem;
      justify-content: space-around;
      width: 80%;
    }

    &__text {
      text-align: left;
      width: 50%;
    }

    &__btn-link {
      align-self: flex-start;
    }
  }
}

@media screen and (min-width: $xl-breakpoint) {
  .about {
    &__img {
      max-width: 15rem;
    }
  }
}
