.contacts {
  @include background;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;

  &__form {
    display: flex;
    flex-flow: column;
    margin-bottom: 2rem;
  }

  &__input {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid $secondary-color;

    &:focus {
      outline: none;
      border: 2px solid $accent-color;
    }
  }

  &__btn {
    @extend .button;
    margin: 1rem auto;
  }

  textarea {
    font-family: $secondary-font;
  }
}

@media screen and (min-width: $md-breakpoint) {
  .contacts {
    &__input {
      padding: 1rem 2rem;
      font-size: 1.1rem;
    }

    &__form {
      margin-bottom: 4rem;
    }
  }
}
