.home {
  @include background;
  color: set-text-color($secondary-color);
  background: linear-gradient(
      to right,
      rgba($secondary-color, 0.98),
      rgba($secondary-color, 0.7)
    ),
    url('../img/background_side.jpg') center top;
  background-size: cover;
  padding-top: 25vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  &__name {
    font-size: 4rem;
    font-weight: 600;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 3px solid $accent-color;
    max-width: 90%;
  }

  &__arrows {
    position: absolute;
    bottom: 8rem;
    left: calc(50% - 21px);
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .fas {
      @include transition-ease;
      color: $accent-color;
    }

    &:hover > .fas {
      color: set-text-color($secondary-color);
      animation: bounce 2s infinite;
    }
  }
}

@media screen and (min-width: $md-breakpoint) {
  .home {
    padding-top: 35vh;

    &__name {
      font-size: 4.5rem;
    }

    h2 {
      font-size: 2rem;
    }

    &__arrows {
      bottom: 3rem;
    }

    &__arrows .fas {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: $lg-breakpoint) {
  .home {
    padding-top: 30vh;
    background: linear-gradient(
        to right,
        rgba($secondary-color, 0.98),
        rgba($secondary-color, 0.7)
      ),
      url('../img/background_front.jpg') center top;
    background-size: cover;

    &__name {
      font-size: 5rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    &__arrows {
      bottom: 2rem;
    }

    &__arrows .fas {
      font-size: 4rem;
    }
  }
}
